@font-face {
  font-family: 'Maj-Light';
  src:  url('fonts/Maj-Light.woff2') format('woff2'),
        url('fonts/Maj-Light.woff') format('woff');
}

@font-face {
  font-family: 'Maj-Bold';
  src:  url('fonts/Maj-Bold.woff2') format('woff2'),
        url('fonts/Maj-Bold.woff') format('woff');
}

body {
  font-family: "Maj-Light";
  font-feature-settings: "kern" on, "liga" on, "calt" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
  margin: 0;
  color: #444;
  font-size: 120%;
  line-height: 1.4em;
}

* {
  box-sizing: border-box;
}

/*
red: #D0004D;
green: #159F6B;
yellow: #FFCF20;
*/

p {margin: 0 0 1em 0}

p:last-of-type {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
}

.map {
  padding: 40px 0 ;
}

.map__logo {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 300px;
  margin-bottom: 10px;
}

.map__info {
  position: absolute;
  font-size: 120%;
  background: #444;
  color: #fff;
  padding: 5px 10px 7px 10px;
  z-index: 20;
  display: none;
}

.map svg {
  display: block;
  height: 600px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: stretch;
}

.header__main {
  flex: 1;
  background-color: #D0004D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.header__map {
  flex: 2;
  background-color: #8BD0E4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.kgroup {
  transition: fill .5s;
}
.kgroup:hover {
  fill: #FFCF20;
}

.intro {
  padding: 20px;
  color: #fff;
}



.intro__title {
  font-family: 'Maj-Bold';
  font-size: 200%;
  margin-bottom: .8em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.intro__lead {
  font-size: 150%;
  opacity: .8;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.popup {
  background-color: #444;
  color: #fff;
  position: relative;
}

.popup::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 0;
  width: 0;
  height: 0;
  margin-right: -20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #444;
  z-index: 10;
}

.popup__placeholder {
  opacity: .5;
  font-size: 150%;
  line-height: 1.4em;
  text-align: center;
  margin: 60px 20px;
}

.popup__name {
  text-align: center;
  font-size: 120%;

  opacity: .5;
  padding: 20px;
}

.popup h2 {
  opacity: .5;
  margin-bottom: 5px;
}

.popup__stats {
  display: flex;
  flex-wrap: wrap;
}

.popup__stat {
  text-align: center;
  flex: 1 1 50%;
}

.popup__stat--hospitals {
  background-color: #666;
}

.popup__number {
  font-size: 200%;
  font-family: 'Maj-Bold';
  padding-bottom:20px;
}

.read {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.read__title {
  font-family: 'Maj-Bold';
  font-size: 200%;
  margin-bottom: .8em;
  text-transform: uppercase;
}

.read__lead {
  font-size: 150%;
  color: #aaa;
  line-height: 1.3em;
  margin-bottom: 20px;
}
